<style>

        background-color: lightcyan;
    
    body {
        text-align: center;
        background: img src="Img/Cradle%20Mountain.jpg";
        background-size: cover;
        background-position: center;


        font-family: helvetica;
        font-size: 24px;
        text-align: center;
        color: bl;
    }

        p {
            font-family: helvetica;
            font-size: 18px;
            text-align: center;
        }

        nav {
            text-align: center;
        }

        h1 {
            font-family: helvetica;
            font-size: 36px;
            color: black;
            text-align: center;
        }
        
        h2 {
            font-family: helvetica;
            font-size: 24px;
            color: black;
            text-align: center;
        }
        
        a {
            font-family: helvetica;
            font-size: 14px;
            color: black;
            text-align: center;
        }

        ul {
            font-family: helvetica;
            font-size: 18px;
            text-align: left;
        }
        
        input {
            position: fixed;
            text-align: center;
            border: 1px;
            padding: 10px;
            font-size: 14px;
        }

        input[type="submit"] {
            background: green;
            color: white;
    }
</style>