html {
    margin: 0px 50px 0px 50px;
}

body {
    background-color: lightcyan;
}

body {
    background-color: lightcyan;
    text-align: center;
    background-size: cover;
    background-position: center;
    font-family: Helvetica, Arial, san-serif;
    font-size: 24px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: black;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: black;
    text-align: center;
}

h3 {
    font-size: 18px;
    color: black;
    text-align: center;
}

h4 {
    font-size: 18px;
    color: black;
    text-align: left;
}

.experience {
    margin: 0px;
}

ul,
ol,
p {
    font-size: 14px;
    text-align: left;
}

nav {
    text-align: center;
}

a {
    font-size: 14px;
    color: black;
    text-align: center;
}
